@import "variables";

.error-messages {
  margin-bottom: 16px;
}

.field {
  & + & {
    margin-top: 14px;
  }
}

.text {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #ebebeb;
}

.select {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border: 1px solid #ebebeb;
  font-family: $font-family;
  font-size: 14px;
  color: $text-base-color;
}

textarea {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  min-height: 100px;
  resize: vertical;
  border: 1px solid #ebebeb;
}

.item-row {
  display: flex;
  align-items: center;
  gap: 0.5em;

  input[type="text"] {
    flex: 1;
  }

  input[type="number"] {
    width: 6rem;
    text-align: right;
  }
}

.button-primary {
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  color: $base-bg-color;
  padding: 10px 0;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.select_shrine {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button-secondary {
  // width: 100%;
  padding: 8px;
  border: 1px solid #ebebeb;
  font-family: $font-family;
  font-size: 14px;
  background-color: white;
}

input[type="date"],
input[type="file"] {
  color: $text-base-color;
  font-family: $font-family;
}

.item-buttons {
  display: flex;
  gap: 8px;
}

.item-button {
  margin-top: 6px;
  width: fit-content;
  padding: 6px;
  border: 1px solid #ebebeb;
  font-family: $font-family;
  font-size: 14px;
  background-color: $card-color;
  border-radius: 5px;
  cursor: pointer;
}

.select.is-invalid {
  border: 2px solid $accent-color;
}
