@import "variables";

.visits {

}

.visit_container {
  display: flex;
}

.visit_date {
  width: 130px;
}

.visit_shrine-name {
  font-weight: bold;
}

.goshuin {
  text-align: center;

  img {
    width: 100%;
    max-width: 300px;
  }
}
